<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Servlets -->
	<servlet>
		<servlet-name>sampleServlet</servlet-name>
		<servlet-class>com.ibm.sampledb.server.SampleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sampleServlet</servlet-name>
		<url-pattern>/samplegwt/sample</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SampleGwt.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>fileUploaderServlet</servlet-name>
		<servlet-class>com.ibm.sampledb.server.UpLoadFile</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileUploaderServlet</servlet-name>
		<url-pattern>/upLoadHandler</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fileDownloaderServlet</servlet-name>
		<servlet-class>com.ibm.sampledb.server.DownloadFile</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>fileDownloaderServlet</servlet-name>
		<url-pattern>/downLoadHandler</url-pattern>
	</servlet-mapping>



</web-app>
