/* 
    Document   : hotelstyles
    Created on : Jun 24, 2008, 11:01:40 PM
    Author     : hotel
    Description:
        Purpose of the stylesheet follows.
*/ 
/* -----------------------*/
.dialog-empty-field {
	border: 2px;
	border-style: solid;
	border-color: #ff6666;
}

/* ---------------------- */
.error-reply {
	background-color: red;
	width:100%;
}

.wait-reply {
	background-color: #b5fede;
	width:100%;
	color: blue;
}

/* --------------- */
.reserved-no-confirmed {
	background-color: yellow;
}

.reserved-confirmed {
	background-color: #7FFF00;
}

.reserved-stay {
	background-color: red;
}

/* color for the today */
.res-today {
	border: 1px solid green;
}

/* ----------------------------------- */
/* style for stack  button (left side)  */
/* ----------------------------------- */
.stack-button {
	width: 100px;
}

/* ------------------------- */ 
/* additional style for date and number */
/* ------------------------- */

.gwt-DateBox {
	width:6em;
}

.Number .gwt-TextBox {
	width:6em;		
}	


/* ---------------------- */
/* month scroll           */
/* ---------------------- */
.month-scroll-panel {
	border: 2px solid #66CCFF; 
	margin: 10px;
}

.month-scroll-panel td {
   background-color:#E5ECF9;
   padding: 2px;
   width : 100x;
}

.month-scroll-panel td:hover {
   outline: #aaaaaa dotted thick;
   outline-width: 2px;
}

.month-scroll-panel .today {
   background-color:#FFDDDD;
}

/* --------------------- */
/* days panel            */
/* --------------------- */

.day-scroll-panel {
	border: 2px solid #66CCFF; 
	margin: 10px;
}

.day-scroll-panel td {
   background-color:#E5ECF9;
   padding: 2px;
   width : 80px;
}

.day-scroll-panel td:hover {
   outline: #aaaaaa dotted thick;
   outline-width: 2px;
}

.day-scroll-panel .today {
   background-color:#FFDDDD;
}

/* ------------------- */
/* season color        */
/* ------------------- */

.day_high_season {
   background-color:#CCCCFF;
}

.day_low_season {
   background-color:#CCFFCC
}
		
.day_special_season {
   background-color:#FFCCCC
}

.day_lowweekend_season {
   background-color:#CCFFFF
}

.day_highweekend_season {
   background-color:#DDFFFF
}

.day_today {
   background-color:#FFDDDD;
}
