/* 
    Document   : jythonui.css
    Author     : hotel
    Description:
        Purpose of the stylesheet follows.
*/ 
/* -----------------------*/
.dialog-empty-field {
	border: 2px;
	border-style: solid;
	border-color: #ff6666;
}

/* ---------------------- */
.error-reply {
	background-color: red;
	width:100%;
}

.wait-reply {
	background-color: #b5fede;
	width:100%;
	color: blue;
}

/* ---------------------- */
/* month scroll           */
/* ---------------------- */
.month-scroll-panel {
	border: 2px solid #66CCFF; 
	margin: 10px;
}

.month-scroll-panel td {
   background-color:#E5ECF9;
   padding: 2px;
   width : 100x;
}

.month-scroll-panel td:hover {
   outline: #aaaaaa dotted thick;
   outline-width: 2px;
}

.month-scroll-panel .today {
   background-color:#FFDDDD;
}

/* --------------------- */
/* days panel            */
/* --------------------- */

.day-scroll-panel {
	border: 2px solid #66CCFF; 
	margin: 10px; 
}

.day-scroll-panel td {
   background-color:#E5ECF9;
   padding: 2px;
   width : 80px;
}

.day-scroll-panel td:hover {
   outline: #aaaaaa dotted thick;
   outline-width: 2px;
}

.day-scroll-panel .today {
   background-color:#FFDDDD;
}

/* ------------------- */
/* season color        */
/* ------------------- */

.day_high_season {
   background-color:#CCCCFF;
}

.day_low_season {
   background-color:#CCFFCC
}
		
.day_special_season {
   background-color:#FFCCCC
}

.day_lowweekend_season {
   background-color:#CCFFFF
}
 
.day_highweekend_season {
   background-color:#DDFFFF
}

.day_today {
   background-color:#FFDDDD;
}

/* ---------------------- */

.no_wrap_cell_style {
  white-space: nowrap;
}


/* time picker */
.timepickr-main { float: left; position: relative; }
.timepickr-display { float: left; height:14px; width: 55px; padding:1px; outline: none; text-align: center; border: solid 1px #D8D8D8; }
.timepickr-popup { position: absolute; left: 0px; top: 20px; width: 500px; }
.timepickr-row  {	position: relative; background-color: #FFFFFF; clear: both;
	float: left;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; 
	border:1px solid #FFFFFF; }
.timepickr-button { cursor: pointer; font-size: 9px; margin: 2px;
	padding: 4px 6px; font-weight: bold; text-align: center; -webkit-border-radius: 4px;
	-moz-border-radius: 4px; border-radius: 4px; background-color: #D2D3D6;
	border: 1px solid #B5B6B9; color: #5E6164; float: left; }
.timepickr-row .state-hover { background-color:#636567; border-color:#636567; color:#FFFFFF; }
