@CHARSET "UTF-8";
/* ------------------ */
.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

.dialog-empty-field {
    border : 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: #ff6666;
    border-bottom-color: #ff6666;
    border-left-color: #ff6666;
    border-right-color: #ff6666;
}

/* ---------------------- */
/* month scroll           */
/* ---------------------- */
.month-scroll-panel {
	border: 2px solid #66CCFF; 
	margin: 10px;
}

.month-scroll-panel td {
   background-color:#E5ECF9;
   padding: 2px;
   width : 100x;
}

.month-scroll-panel td:hover {
   outline: #aaaaaa dotted thick;
   outline-width: 2px;
}

.month-scroll-panel .today {
   background-color:#FFDDDD;
}

/* --------------------- */
/* days panel            */
/* --------------------- */

.day-scroll-panel {
	border: 2px solid #66CCFF; 
	margin: 10px;
}

.day-scroll-panel td {
   background-color:#E5ECF9;
   padding: 2px;
   width : 80px;
}

.day-scroll-panel td:hover {
   outline: #aaaaaa dotted thick;
   outline-width: 2px;
}

.day-scroll-panel .today {
   background-color:#FFDDDD;
}
/* ---------------------- */

.no_wrap_cell_style {
  white-space: nowrap;
}