<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="DB2 script launcher"
        delegate="com.db2.sb.scriptlauncher.DB2ScriptLauncher"
        modes="run"               
        id = "com.db2.sb.scriptlauncher.DB2ScriptLauncher"
     >        
    </launchConfigurationType>
</extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="com.db2.sb.scriptlauncher.DB2ScriptLauncher"
        class="com.db2.sb.scriptlauncher.DB2ScriptTab"
        id="com.db2.sb.scriptlauncher.DB2ScriptTab">
    </launchConfigurationTabGroup>
</extension>

<extension point="org.eclipse.debug.core.launchConfigurationComparators">
	<launchConfigurationComparator
		id="com.db2.sb.scriptlauncher.DB2ScriptLauncherComparator "
		class="com.db2.sb.scriptlauncher.DB2ScriptLauncherComparator "
		attribute="com.db2.sb.scriptlauncher.DB2_ACCESS"/>
</extension>


</plugin>
