.ulform {
  list-style: none; 
  padding-left:0; 
  margin:5px;
/*  list-style-position: inside; */
}

.ulform button {
   width:100%; 
}

.ulform label {
	border:none;
	color:#222;
	display:block; 
	font-size:95%;
	font-weight:700;
	line-height:150%; 
	padding:0 0 1px;
}